* {
  overflow: hidden;
  cursor: default;
  user-select: none;
}

.main {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px - 24px);
  min-height: calc(320px - 80px - 24px); 
  min-width: 320px;
  align-items: center;
}

.h2 {
  margin-bottom: 0;
  color: #5e5e5e;
  font-family: Helvetica, 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 100;
}

.h2 svg:after { 
  content: '\A0'; 
}

.rotary_switch {
  position: fixed;
  top: 102px;
  left: 22px;
}

.toggle_switch {
  position: fixed;
  top: 102px;
  right: 22px;
}

.animation {
  animation-name: text;
  animation-duration: .2s; 
  animation-delay: .3s; 
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
  animation-play-state: running;
}

@keyframes text {
  0% {
    opacity: 0;
  }
}